/Test_BackUpThisFolder_ButDontShipItWithYourGame
/Library
/Logs
/obj
/.specstory
/.vs
/Temp
/Assets/GUI PRO Kit - Casual Game/PSD
/Assets/GUI PRO Kit - Casual Game/Scenes
/BuildApp_BurstDebugInformation_DoNotShip
/AB/BuildReport
/AB/Full
/AB/Package
/AB/Packed
/AB/Working
/BuildApp
/Tools/Jenkins/UnityBuildLog.log
/Tools/LocalizationTextsScannerOutput.txt
/HybridCLRData
/Assets/Resources/AotDlls
/UserSettings/
/Assets/AIDoc/
*.sln
*.csproj
Assets/AAAGame/Font/Common/AlibabaPuHuiTi-3-85-Bold SDF.asset
Assets/AAAGame/Font/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
