/HybridCLRData/AssembliesPostIl2CppStrip
/HybridCLRData/HotUpdateDlls
/HybridCLRData/LocalIl2CppData
/Test_BackUpThisFolder_ButDontShipItWithYourGame
/Library
/Logs
/obj
/.specstory
/.vs
/Temp
/.specstory
/HybridCLRData/LocalIl2CppData-WindowsEditor
/Assets/GUI PRO Kit - Casual Game/PSD
/Assets/GUI PRO Kit - Casual Game/Scenes
/HybridCLRData/StrippedAOTDllsTempProj
/BuildApp_BurstDebugInformation_DoNotShip
/AB/BuildReport
/AB/Full
/AB/Package
/AB/Packed
/AB/Working
/BuildApp
/Tools/Jenkins/UnityBuildLog.log
/Tools/LocalizationTextsScannerOutput.txt
/HybridCLRData
/Assets/Resources/AotDlls
/UserSettings/
/Assets/AIDoc/
AAAGame.Tests.Editor.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Avenge.sln
Builtin.Runtime.csproj
Hotfix.csproj
.csproj
Assets/AAAGame/Font/Common/AlibabaPuHuiTi-3-85-Bold SDF.asset
com.unity.cinemachine.editor.csproj
Newtonsoft.Json.UnityConverters.csproj
Newtonsoft.Json.UnityConverters.Editor.csproj
PPv2URPConverters.csproj
Unity.2D.Sprite.Editor.csproj
Unity.AI.Navigation.csproj
Unity.AI.Navigation.Editor.ConversionSystem.csproj
Unity.AI.Navigation.Editor.csproj
Unity.AI.Navigation.Updater.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.csproj
Unity.Burst.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.Collections.CodeGen.csproj
Unity.Collections.csproj
Unity.Collections.Editor.csproj
Unity.InputSystem.DocCodeSamples.csproj
Unity.InputSystem.ForUI.csproj
Unity.Jobs.CodeGen.csproj
Unity.Jobs.csproj
Unity.Mathematics.csproj
Unity.Mathematics.Editor.csproj
Unity.PerformanceTesting.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.Universal.2D.Internal.csproj
Unity.RenderPipelines.Universal.Config.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.Rider.Editor.csproj
Unity.Searcher.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualStudio.Editor.csproj
UnityEditor.UI.csproj
UnityEngine.UI.csproj
Packages/manifest.json
Packages/packages-lock.json
Cinemachine.csproj
andywiecko.BurstTriangulator.csproj
AstarPackageToolsEditor.csproj
AstarPathfindingProject.csproj
AstarPathfindingProjectEditor.csproj
Boxophobic.PolyverseSkies.Editor.csproj
Boxophobic.PolyverseSkies.Runtime.csproj
Boxophobic.PolyverseSkies.Scripts.csproj
Boxophobic.Utils.Editor.csproj
Boxophobic.Utils.Scripts.csproj
DOTween.Extension.csproj
Drawing.csproj
DrawingEditor.csproj
DrawingPackageToolsEditor.csproj
GameFramework.csproj
GiantGrey.TileWorldCreator.csproj
GiantGrey.TileWorldCreator.Samples.csproj
Newtonsoft.Json.UnityConverters.Mathematics.csproj
PackageTools.csproj
UniTask.Addressables.csproj
UniTask.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
Unity.InputSystem.csproj
Unity.InputSystem.TestFramework.csproj
Unity.PerformanceTesting.csproj
Unity.PlasticSCM.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEngine.TestRunner.csproj
UnityGameFramework.Editor.csproj
UnityGameFramework.Runtime.csproj
ZString.csproj
ProjectSettings/EditorBuildSettings.asset
Assets/AAAGame/ScriptsBuiltin/Editor/Stubs/EditorStubs.cs
Assets/AAAGame/ScriptsBuiltin/Editor/Stubs/EditorStubs.cs.meta
Assets/AAAGame/ScriptsBuiltin/Runtime/Obfuz/ObfuzStubs.cs
Assets/AAAGame/ScriptsBuiltin/Runtime/Obfuz/ObfuzStubs.cs.meta
